.accordionSecond {
}
.accordion-item {
  position: relative;
  margin-bottom: 20px;
}
.accordion-item__input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.accordion-item__trigger {
  display: block;
  padding: 20px;
  border: 1px solid white;
}
.accordion-item__content {
  padding: 20px;
  border: 1px solid white;
  border-top: none;
  display: none;
}

.accordion-item__input:checked ~ .accordion-item__trigger {
  background-color: #eee;
}
.accordion-item__input:checked ~ .accordion-item__content {
  display: block;
}
